<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bills.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A452F23C1D38750900C1B15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A452F2551D38750900C1B15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A452F2601D38750900C1B15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
